body {
      background-color: darkgray;
  }
  
  .recipe-card img {
    max-height: 150px;
    object-fit: cover;
  }

  .navbar {
    position: relative;
    background-image: url('https://lineman.line.me/sellers/img/landing-banner-2@2x.90a5aa51.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

  }

  .navbar-nav .nav-link{
    font-size: 16px;
    border-style: inset;
    background: rgb(105, 105, 105);
    color: aliceblue;
    margin: 2px;
  }
  .navbar-nav .nav-link.active {
    font-weight: bold;
  }
  .navbar-brand {
    font-size: 2.5rem !important;
    font-weight: bolder;
    position: absolute; /* กำหนดตำแหน่งแบบ absolute */
    left: 50%;          /* กึ่งกลางแนวนอน */
    top: 50%;           /* กึ่งกลางแนวตั้ง */
    transform: translate(-50%, -50%); /* เลื่อนกลับครึ่งขนาดเพื่อกึ่งกลางจริง */
  }
/* CSS สำหรับ star rating */
.star-rating {
  direction: rtl;
  font-size: 2rem;
  unicode-bidi: bidi-override;
  display: inline-block;
}
.star-rating input[type="radio"] {
  display: none;
}
.star-rating label {
  color: #ccc;
  cursor: pointer;
  display: inline-block;
  position: relative;
}
.star-rating label::before {
  content: "\f005"; /* FontAwesome solid star */
  font-family: FontAwesome;
  position: relative;
}
.star-rating input[type="radio"]:checked ~ label,
.star-rating label:hover,
.star-rating label:hover ~ label {
  color: #ffc107;
}
